JacobRiosMyRecipes/Web References/RecipeWS/RecipeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebServiceRecipes">
        <s:complexType />
      </s:element>
      <s:element name="GetWebServiceRecipesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebServiceRecipesResult" type="tns:ArrayOfWSRecipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSRecipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSRecipe" nillable="true" type="tns:WSRecipe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSRecipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RecipeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipeInstructions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipeIngredients" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecipeSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipeImage" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadUserInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadUserInformationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebServiceRecipesSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebServiceRecipes" />
  </wsdl:message>
  <wsdl:message name="GetWebServiceRecipesSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebServiceRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="ReadUserInformationSoapIn">
    <wsdl:part name="parameters" element="tns:ReadUserInformation" />
  </wsdl:message>
  <wsdl:message name="ReadUserInformationSoapOut">
    <wsdl:part name="parameters" element="tns:ReadUserInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="RecipeWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceRecipes">
      <wsdl:input message="tns:GetWebServiceRecipesSoapIn" />
      <wsdl:output message="tns:GetWebServiceRecipesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadUserInformation">
      <wsdl:input message="tns:ReadUserInformationSoapIn" />
      <wsdl:output message="tns:ReadUserInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecipeWebServiceSoap" type="tns:RecipeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceRecipes">
      <soap:operation soapAction="http://tempuri.org/GetWebServiceRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUserInformation">
      <soap:operation soapAction="http://tempuri.org/ReadUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecipeWebServiceSoap12" type="tns:RecipeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceRecipes">
      <soap12:operation soapAction="http://tempuri.org/GetWebServiceRecipes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUserInformation">
      <soap12:operation soapAction="http://tempuri.org/ReadUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeWebService">
    <wsdl:port name="RecipeWebServiceSoap" binding="tns:RecipeWebServiceSoap">
      <soap:address location="http://localhost:56267/RecipeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecipeWebServiceSoap12" binding="tns:RecipeWebServiceSoap12">
      <soap12:address location="http://localhost:56267/RecipeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>